<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher or Lower Game</title>
    <!-- <style></style> -->
</head>
<body>
  <div id="game">
    <h1>Higher or Lower</h1>
    <p id="current-number">Current Number: <span id="number"></span></p>
    <p id="score">Score: <span id="score-value">0</span></p>
    <div>
      <button id="higher">Higher</button>
      <button id="lower">Lower</button>
    </div>
    <p id="message"></p>
    <button id="restart" style="display: none;">Restart Game</button>
  </div>

  <py-script src="game.py"></py-script>
    